<div class="banner" >
  <h1 class="text-cinema" ><strong>Cinema</strong></h1>
  <%= image_tag "cinema.jpeg" ,  height: 400, width: "100%"%>
</div>
<div class="container">
  <h1 class="category-text" >Category of movies</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cheatcc.com/imagesfeatures/weeklyrant_actionadventure.jpg)">
        <%=  list.name  %>
      </div>
    <% end %>
  </div>
</div>
