.banner{
  // background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-cinema{
  position: absolute;
  text-align: center;
  color: white;
}
